.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

#prod_tbl {
  width:50%;
}      

.sp1{
  text-align:center;
  margin-top:auto;
  margin-bottom:auto;
}

#proj_table{
  margin-top:10%;
}
#btnbtn{
  margin-top:10px;
}

#search_project{
  width: 100%;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}
#search_project input {
  width: 600px;
  font-size: 20px;
  padding: 5px;
}

.form-control-plaintext{
  cursor: default;
  outline-style: none;
}