<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        <%var taskid = [];%>
        <%var emptask = [];%>
        <%for(x=0;x<data.length;x++){%>
            <%if(data[x].Emp_id != data3){%>
                <%taskid.push(data[x].Emp_id);%>
                <%}%>
            <%}%>
        <%for(y=0;y<data2.length;y++){%>
            <%for(z=0;z<taskid.length;z++){%>
                <%if(data2[y].Task_id == taskid[z]){%>
                <%emptask.push(data2[y]);%>
                    <%}%>
                <%}%>
            <%}%>

        <script>
        var conv;
        var personname = [];
        var Complete = [];
        var Progress = [];
        ' <%for(x=0;x<data.length;x++){%>'
            '<%if(data[x].Emp_id != data3){%>'
            personname.push("<%=data[x].Emp_name%>");
            '<%}}%>'
        ' <%for(x=0;x<emptask.length;x++){%>'
                conv = parseInt('<%= emptask[x].Complete_tasks %>');
                Complete.push(conv);
                             '<%}%>'
        ' <%for(x=0;x<emptask.length;x++){%>'
                conv = parseInt('<%= emptask[x].Progression %>');
                Progress.push(conv);
                             '<%}%>'

        Highcharts.chart('container', {
            exporting: {
                enabled: false
            },
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Employer Performance'
            },
            xAxis: {
                categories: personname
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total workloads of employer'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Complete',
                data: Complete
            },
            {
                name:'Progression',
                data: Progress
            }],
            credits: {
                        enabled: false
                    }
        });
        </script>
        </body>
        </html>