<html>
    <head>
        <% include ../partials/header.ejs %>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <style>
            .big-centered-icon {
                font-size: 144px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex; /* add */
                justify-content: center; /* add to align horizontal */
                align-items: center; /* add to align vertical */
            }
            
            .class-box{ 
                text-align:center;
                position:relative;
                margin:8px;
                width: 100%;
                padding-bottom: 75%
            }
            div.class-box > div { 
                position:absolute;
                top:0;bottom:0;
                left:0;right:0;
                overflow:hidden;
                padding-top:15%
            }
            .class-box .title-bg{
                font-size:24px;
                color:#000;
                margin-top: 40%;
            }
            .container-fluid{
                margin-top: 10%; 
                max-width: 1500px;
                text-align: center;
                position:relative;
            }
            .span_link{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
                }
            </style>
            </head>
            <div class="container-fluid">
                <div class="raww">
                    <div class="col-md-4 col-sm-6 d-flex">
                        <div class="class-box">
                            <div class="bg-primary">
                                <i class="icon-list fa-10x big-centered-icon"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="title-bg text-outline"><Strong>Task</Strong></h4>
                                    <a href="" target="_blank">
                                        <span class="span_link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 d-flex">
                            <div class="class-box">
                                <div class="bg-primary">
                                    <i class="icon-briefcase fa-10x big-centered-icon"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="title-bg text-outline"><Strong>Work</Strong></h4>	
                                    <a href="psen">
                                        <span class="span_link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </html>