<html>
    <head>
        <% include ../partials/header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/mainemp.css" />
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
            </head>
            <body>
            <% include ../partials/navemp.ejs %>    
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-6 d-flex">
                        <div class="class-box">
                            <div class="bg-primary">
                                <i class="icon-list fa-10x big-centered-icon icon"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="title-bg text-outline"><Strong>Project List</Strong></h4>
                                    <a href="task">
                                        <span class="span_link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <%for(x=0;x<employer.length;x++){%>
                        <%if(employer[x].Department == "Shipment"){%>
                            
                        <%}else{%>
                        <div class="col-md-4 col-sm-6 d-flex">
                            <div class="class-box">
                                <div class="bg-primary">
                                    <i class="icon-list fa-10x big-centered-icon"></i>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="title-bg text-outline"><Strong>My Task</Strong></h4>
                                        <a href="mytask">
                                            <span class="span_link"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <%}}%>
                        <div class="col-md-4 col-sm-6 d-flex">
                            <div class="class-box">
                                <div class="bg-primary">
                                    <i class="icon-briefcase fa-10x big-centered-icon"></i>
                                </div>
                                <div class="box-content">
                                    <h4 class="title-bg text-outline"><Strong>Work</Strong></h4>	
                                    <a href="psen">
                                        <span class="span_link"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
            <script>
               $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    });
                </script>
        </html>