<!DOCTYPE html>
<html>
    <head>
            <% include ../partials/header.ejs %>
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Logout</button>
    </head>
    <body>
            <div class="container">
                    <h2 style="text-align: center">Register New Employer</h2>
                    <form action="newemp" method="POST">
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr" name="name">
                    </div>
                    <div class="form-group">
                        <label for="usr">Department:</label>
                        <input type="text" class="form-control" id="usr" name="dept">
                          </div>
                    <div class="form-group">
                            <label for="usr">Position:</label>
                            <input type="text" class="form-control" id="usr" name="pos">
                        </div>
                    <div class="form-group">
                        <label for="usr">IC:</label>
                        <input type="text" class="form-control" id="usr" name="ic">
                        </div>
                    <div class="form-group">
                            <label for="usr">Username:</label>
                            <input type="text" class="form-control" id="usr" name="username">
                          </div>
                    <div class="form-group">
                        <label for="usr">Password:</label>
                        <input type="password" class="form-control" id="usr" name="password">
                        </div>
                    <button class="btn btn-primary" type="subtmit">Submit</button>
                    </form>
                  </div>
                  
    </body>
</html>