<!DOCTYPE html>
<html>
    <head>
            <% include ../partials/header.ejs %>
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Logout</button>
    </head>
    <body>
        <div class="container">
            <h2 style="text-align: center">Sofware Phase / Mass Phase</h2>
                    <div class="table table-striped" id="proj_table" align="center">
                            <!-- Search form -->
                            <div id="search_project" align="center"></div>
                              <table id="proj_tbl"  >
                                <thead>
                                  <th>Project Id</th>
                                  <th>Project Title</th>
                                  <th>Action</th>                   
                                </thead>
                                <tbody>    
                                  <%for(x=0;x<project.length;x++){%>
                                  <tr>
                                    <form action="status" method="POST">
                                      <td ><%= project[x].Project_id %></td>
                                      <td><%= project[x].Project_title %></td>
                                      <td><button class="btn btn-primary btn-block" type="submit" value="<%= project[x].Project_id %>" name="projectid">Done </button> </td>
                                    </form>
                                  </tr>
                                  <%}%>
                                  </tbody>
                                </table>
                              </div>
                              </div>
                            </body>          
                          <script>
                          $(document).ready(function() {
                              $('#proj_tbl').DataTable({
                            
                              });
                          });   
           </script>
</html>